__pycache__/
*.py[codz]
*$py.class
*.so
.bro
*.bro.json
*.bro.txt
*.bro.png
*.bak
prompt_history.txt
system_prompt.txt
*.db
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
*.log
_build/
.ipynb_checkpoints
__pypackages__/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
*.code-workspace
.pypirc

**/.idea/*
!**/.idea/dictionaries
!**/.idea/dictionaries/*

requirements.lock
requirements-dev.lock